.product {
    width: 31%;
    margin-bottom: 30px;
    padding: 10px;


    img {
        width: 300px;
        height: 350px;
    }

    h3,h2,h5 {
        font-size: 18px;
        color: rgba(55, 40, 190, 0.836);
    }
    h5{
        color: red;

    }

    p {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(123, 148, 64);
    }
    
}

.productList{
    display: flex;
    flex-wrap: wrap;
}
